@import url('http://fonts.googleapis.com/css?family=Manrope');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
    transition: all .3s ease-in-out;
    scroll-behavior: smooth;
}
body {
    background-color: #FFFAF3;
}
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: black;
    box-shadow: 0px 10px 20px lightgray;
    width: 100%;
    height: 5vh;
    z-index: 10000;
    top: 0;
    background-color: #FFFAF3;
}
nav:hover {
    box-shadow: 0px 5px 50px orange;
}
#navlogo {
    display: flex;
    align-items: center;
}
#logo {
    width: 25px;
    margin-left: 50%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}
nav ul li {
    display: block;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
}
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
nav ul li a:hover::after,
nav ul li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}
nav ul li a:hover {
    color: orange;
}
.dropdown-content {
    display: none;
    position: fixed; /* Changed from absolute to fixed */
    right: 0; /* Added this to make it appear on the right */
    top: 0; /* Added this to align it to the top */
    height: 100vh; /* Added this to make it the same height as the browser window */
    width: 100vw;
    background-color: #FFFAF3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 7.5vw;
    z-index: 1;
}
.dropdown-btn {
    display: none;
    color: black;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 1vh;
    margin: 1vh;
    background-color: transparent;
}
@media screen and (max-width: 1020px) {
    nav ul {
        display: none;
    }
    .dropdown-btn {
        display: block;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid black; */
    height: auto;
}
body {
    overflow-x: hidden;
}
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 500%;
    height: 100vh;
    background-color: #FFFAF3;
}
@media (max-width: 1080px) {
    #home {
        margin-top: 150px;
    }
}
.leftinfo {
    margin-left: 12.5vw;
    margin-right: 7.5vw;
}
.invest {
    text-shadow: 5px 5px 10px rgb(172, 170, 170);
}
#krowetext {
    color: orange;
    text-shadow: none;
}
#mainButton {
    position: relative;
    padding-left: 1%;
    padding-right: 1.2%;
    padding-top: 0.001%;
    padding-bottom: 0.001%;
    text-decoration: none;
    color: orange;
    text-shadow: none;
    border-radius: 8px;
    border: 3px solid black;
    background-color: white;
}
#mainButton:hover {
    border-color: #FFFAF3;
    color: black;
    background-color: #FFFAF3;
}
#mainButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: orange;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
#mainButton:hover::after,
#mainButton:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
#investButton {
    position: relative;
    padding-left: 1%;
    padding-right: 1.2%;
    padding-top: 0.001%;
    padding-bottom: 0.001%;
    text-decoration: none;
    color: orange;
    text-shadow: none;
    border-radius: 8px;
    border: 3px solid black;
    background-color: white;
}
#investButton:hover {
    border-color: #FFFAF3;
    color: black;
    background-color: #FFFAF3;
}
#investButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: orange;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
#investButton:hover::after,
#investButton:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
.discover {
    margin-top: 7.5vh;
}
.discover a {
    text-wrap: nowrap;
}
#mainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFAF3;
    padding: 5%;
}
#mainLogo img {
    width: 65%;
    animation: bounce 3s; 
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
    border: 10px solid orange;
    border-radius: 50%;
    background-color: transparent;
}
@keyframes bounce { 
    0%, 100% { 
        transform: translate3d(0, 0, 0); 
    } 
    50% { 
        transform: translate3d(0, 20px, 0); 
    } 
}
#comingSoon {
    height: 100vh;
    background-color: #FFFAF3;

    .section-container {
        padding: 200px;


        h1 {
            font-size: 150px;
        }
        h2 {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .highlight {
            color: orange;
        }
    a {
        position: relative;
        padding-left: 1%;
        padding-right: 1.2%;
        padding-top: 0.001%;
        padding-bottom: 0.001%;
        text-decoration: none;
        color: orange;
        font-size: 50px;
        text-shadow: none;
        border-radius: 14px;
        border: 3px solid black;
        background-color: white;
        transition: background-color 300ms, color 300ms, border-color 300ms;
    }
    a:hover {
        border-color: #FFFAF3;
        color: black;
        background-color: #FFFAF3;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: orange;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }
    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
    }
    @media (max-width: 1080px) {
        .section-container {
            padding: 100px;
        }
    }
}
@media (max-width: 1080px) {
    #comingSoon {
        height: auto;
    }
}
#aboutus {
    background-color: #FFFAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    height: auto;
}
.mySlides {
    display: block;
    width: 100%;
    height: 75%;
    transition: opacity 1s ease-in-out;
    padding: 30px;
    background-color: transparent;
}
.boxslider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    font-size: 100%;
    background-color: #FDDEBB;
    border-radius: 50px;
    border: 1px solid white;
}
.boxslider h1 {
    margin: 15px;
}
#highlight {
    color: orange;
    text-shadow: none;
}
.boxslider img {
    width: 75%;
}
#aboutus2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 175%;
    text-align: right;
    background-color: #FFFAF3;
    overflow: visible;
}
.beatingbox {
    margin: 10%;
}
.beatingbox h1 {
    text-shadow: 5px 5px 10px rgb(172, 170, 170);
}
#description {
    padding-top: 30px;
}
#aboutus3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFAF3;
}
@media (max-width: 1080px) {
    #aboutus3 {
        padding-top: 100px;
    }
}
#aboutus3 img {
    width: 75%;
}
#howitworks {
    background-color: #FFFAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    height: auto;
}
#infowrap {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    font-size: 100%;
    transition: opacity 1s ease-in-out;
    padding: 40px;
    margin: 20px;
    background-color: transparent;
}
#infoboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 20px;
    padding: 40px;
    font-size: 100%;
    background-color: #FFEACC;
    border-radius: 50px;
    border: 1px solid white;
    margin-left: 5%;
}
#infoboxes h1 {
    margin-bottom: 20px;
}
#infoboxes a {
    margin-bottom: 30px;
}
#imginfoboxes {
    display: flex;
    flex-direction: row;
}
#imginfoboxes img {
    width: 75%;
}
#button-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
}
#button-stack a {
    margin-bottom: 20px;
    text-wrap: nowrap;
    font-size: 2.5vw;
    padding: 4px;
}
#first {
    border-radius: 14px;
    background-color: white;
    border: 3px solid black;
    color: orange;
}
#first:hover {
    background-color: #FFEACC;
    border-color: transparent;
    color: black;
}
#second {
    border-radius: 14px;
    background-color: white;
    border: 3px solid black;
    color: orange;
}
#second:hover {
    background-color: #FFEACC;
    border-color: transparent;
    color: black;
}
#invest-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    height: auto;
    margin-top: 50px;
}
.invest-item {
    background-color: #FFFAF3;
    /* border: 1px solid black; */
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: auto;
    min-height: 200px; /* Adjust this value to your needs */

}
@media (max-width: 1080px) {
    .invest-item {
        font-size: 48px;
    }
}
.invest-item img {
    width: 425px;
}
#stepImage {
    padding-left: 125px;
}
@media (max-width: 1080px) {
    #stepImage {
        padding-left: 100px;
    }
}
#title {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-wrap: nowrap;
    text-align: center;
    padding: 5%;
}
#step1 {
    font-size: 24px;
    margin-left: 30%;
}
@media (max-width: 1080px) {
    #step1 {
        margin-left: 15%;
    }
}
#step1 h1 {
    font-weight: bold;
}
#step2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    padding-right: 22.5%;
    padding-left: 2.5%;
    padding-top: 20%;
}
#step2 a {
    padding-top: 10%;
}
#step1info {
    margin-top: 5%;
}
#group {
    padding-left: 20%;
    padding-top: 25%;
    padding-bottom: 10%;
    align-self: center;
    justify-content: center;
    height: 100%;
}
#group img {
    width: 500px;
}
@media (max-width: 1080px) {
    #group {
        width: 750px;
    }
}
.invest-item h2 {
    padding-bottom: 5%;
}
#faq1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #FFFAF3;
}
#faq1 h1 {
    font-size: 600%;
    padding-top: 5vh;
    border-bottom: 2.5px solid orange;
    margin-bottom: 1vh;
}
.parent-container {
  padding:0 30px 0 30px;
  max-width:1200px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 7.5vh;
}
.faq {
  list-style:none;
  padding-left:60px;
  padding-right:30px;
}
.faq li {
  border-bottom:2.5px solid black;
  margin-bottom:22.5px;
}
.faq li.active .answer {
  max-height:412.5px !important;
  padding-bottom:37.5px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.faq li.active .question {
  color:orange;
  transition:color 0.5s ease;
  font-weight: 700;
}
.faq .answer {
  color:#090909;
  font-size:24px;
  line-height:36px;
  max-height:0;
  overflow:hidden;
  transition:max-height 0.5s ease, padding-bottom 0.5s ease;
}
.faq .plus-minus-toggle {
  cursor: pointer;
  height: 31.5px;
  position: absolute;
  width: 31.5px;
  left:-60px;
  top:50%;
  z-index:2;
}
.faq .plus-minus-toggle:before,
.faq .plus-minus-toggle:after {
  background: #000;
  content: '';
  height: 7.5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31.5px;
  transition: transform 500ms ease;
}
.faq .plus-minus-toggle:after {
  transform-origin: center;
}
.faq .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
  background-color: orange;
}
.faq .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
  background-color: orange;
}
.faq .question {
  color:#090909;
  font-size:30px;
  font-weight:800;
  text-transform:uppercase;
  position:relative;
  cursor:pointer;
  padding:30px 0;
  transition:color 0.5s ease; 
}
#contact {
    background-color: #FFFAF3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 300%;
    height: auto;
    margin-bottom: 10vh;
    text-align: center;
}
#contact h1 {
    text-wrap: nowrap;
}
#contact h3 {
    margin: 50px;
    text-wrap: nowrap;
}
#email {
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.001%;
    padding-bottom: 0.001%;
    text-decoration: none;
    color: orange;
    text-shadow: none;
    border-radius: 14px;
    border: 3px solid black;
    background-color: white;
}
#email:hover {
    border-color: #FFFAF3;
    color: black;
    background-color: #FFFAF3;
}
#email::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: orange;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
#email:hover::after,
#email:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
#footer {
    height: auto;
}
.footer{
background:#000;
padding:30px 0px;
text-align:center;
}
.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:white;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:white;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}
@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
@media (min-width: 1080px) 
{
    .grid-container {
        grid-template-columns: 1fr;
        height: 100vh;
    }
    #home {
        font-size: 2vw;
    }
    #comingSoon {
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: row;
    } 
    #aboutus {
        grid-column-start: 1;
        grid-column-end: 3; /* Changed to 2 */
        flex-direction: row;
    }
    #howitworks {
        grid-column-start: 1;
        grid-column-end: 3; /* Changed to 2 */
        flex-direction: row;
    }
    .mySlides {
        height: 100%;
        width: 75%;
    }
    #infowrap {
        height: 100%;
        width: 50%;
    }
    #invest {
        grid-column-start: 1;
        grid-column-end: 3; /* Changed to 2 */
        grid-template-columns: 1fr; /* Ensure this is 1fr */
    }
    #faq1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #contact {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
